:root {
	--primary: linear-gradient(90deg, #338bcc, #7f21dd); /* Your brand color */
	--secondary: #777777; /* Text color and secondary button background color */
	--bolder: #000000; /* Bolder text color, for inputs and bolds */

	--yes: #00ff00; /* "Accept" button background color */
	--no: #ff0000; /* "Decline" button background color */
}
